<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {190, 202}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{190, 202}</string>
			<key>spriteSourceSize</key>
			<string>{192, 204}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {190, 202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 28}, {172, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, -14}</string>
			<key>spriteSize</key>
			<string>{172, 176}</string>
			<key>spriteSourceSize</key>
			<string>{192, 204}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 2}, {172, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{21, 21}, {158, 166}}</string>
			<key>spriteOffset</key>
			<string>{4, -2}</string>
			<key>spriteSize</key>
			<string>{158, 166}</string>
			<key>spriteSourceSize</key>
			<string>{192, 204}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{368, 2}, {158, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 12}, {112, 162}}</string>
			<key>spriteOffset</key>
			<string>{-9, 9}</string>
			<key>spriteSize</key>
			<string>{112, 162}</string>
			<key>spriteSourceSize</key>
			<string>{192, 204}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{528, 2}, {112, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{33, 0}, {116, 160}}</string>
			<key>spriteOffset</key>
			<string>{-5, 22}</string>
			<key>spriteSize</key>
			<string>{116, 160}</string>
			<key>spriteSourceSize</key>
			<string>{192, 204}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 2}, {116, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{33, 0}, {116, 160}}</string>
			<key>spriteOffset</key>
			<string>{-5, 22}</string>
			<key>spriteSize</key>
			<string>{116, 160}</string>
			<key>spriteSourceSize</key>
			<string>{192, 204}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{760, 2}, {116, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 12}, {112, 162}}</string>
			<key>spriteOffset</key>
			<string>{-9, 9}</string>
			<key>spriteSize</key>
			<string>{112, 162}</string>
			<key>spriteSourceSize</key>
			<string>{192, 204}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{878, 2}, {112, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{21, 21}, {158, 166}}</string>
			<key>spriteOffset</key>
			<string>{4, -2}</string>
			<key>spriteSize</key>
			<string>{158, 166}</string>
			<key>spriteSourceSize</key>
			<string>{192, 204}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{992, 2}, {158, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 28}, {172, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, -14}</string>
			<key>spriteSize</key>
			<string>{172, 176}</string>
			<key>spriteSourceSize</key>
			<string>{192, 204}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1152, 2}, {172, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {190, 202}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{190, 202}</string>
			<key>spriteSourceSize</key>
			<string>{192, 204}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1326, 2}, {190, 202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{2048, 256}</string>
	</dict>
</dict>
</plist>